/* Common styles for all views */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* Optional: Set a font-family */
    align-items:center ;
  }
  

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Section styles */
  .section1,.section2,.section3 {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: rgb(182, 174, 175);
    position: relative;
    padding: 2%;
    margin: 10px;

  }
  
  /* Section title styles */
  .section-title1,.section-title2,.section-title3 {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff; /* Set text color to make it readable on the background */
    padding: 5px 10px;
    border: 1px solid black;
    border-top: 0px;
    border-right: 0px;
  }
  .section-title1{
    background-color: #95b63a;
  }
  .section-title2{
    background-color: #9e4054;
  }
  .section-title3{
    background-color: #dbd834;
  }
  
  
  /* Desktop styles (992px and above) */
  @media (min-width: 992px) {
    .section1,.section2,.section3 {
      width: 31%;
      float: left;
    }
  }
  
  /* Tablet styles (768px to 991px) */
  @media (min-width: 768px) and (max-width: 991px) {
    .section1,.section2 {
      width:47.5%;
      float: left;
    }

      .section3 {
        width: 97%;
        clear: both;
      }
  
    
  }
  
  /* Mobile styles (equal to or less than 767px) */
  @media (max-width: 767px) {
    .section1,.section2,.section3 {
      width: 97%;
      float: none;
    }
  }
  
  /* Font size adjustments */
  h1 {
    font-size: 1.75em; /* 75% larger than the default font size */
  }
  
  .section p {
    font-size: 1.25em; /* 25% larger than the default font size */
  }
  